/* theme.css */

:root {
  /* Light theme colors */
  --background-color: white;
  --text-color: black;
}

[data-theme='dark'] {
  /* Dark theme colors */
  --background-color: #1a202c;
  --text-color: #cbd5e0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Automatic dark mode based on user preference */
@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--background-color, #1a202c);
    color: var(--text-color, #cbd5e0);
  }
}